<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.forreport.mapper.OrderMapper">
  
   <insert id="addOrder">
   		insert into tbl_order(ordernum, pronum, id, paymethod, payprice) 
   		values(seq_order.nextval, #{pronum}, #{id}, #{paymethod}, #{payprice})
   </insert>
   
   <select id="getOrderList" resultType="com.forreport.domain.OrderVO">
   		select ordernum, pronum, id, paymethod, payprice, orderdate
   		from tbl_order
   		where id = #{id}
   </select>
   
   <insert id="addVbank">
   		insert into tbl_vbank(id, vbnum, vbname, vbholder, vbdate) 
   		values(#{id}, #{vbnum}, #{vbname}, #{vbholder}, #{vbdate})
   </insert>
   
   <select id="getVbank" resultType="com.forreport.domain.VbankVO">
   		select * from tbl_vbank where id = #{id}
   </select>
  
</mapper>