<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.forreport.mapper.QuestionMapper">
  
  <select id="getList" resultType="com.forreport.domain.QuestionVO">
  	<![CDATA[
  	select * from tbl_question where questionnum > 0
  	]]>
  </select>
  
  <insert id="insert2">
  insert into tbl_question (questionnum, questiontitle, question)
  values (seq_question.nextval, #{questiontitle}, #{question})
  </insert>
  
  <insert id="insertSelectKey2">
    <selectKey keyProperty="questionnum" order="BEFORE" resultType="int">
    select seq_question.nextval from dual
    </selectKey>
  
  insert into tbl_question (questionnum, questiontitle, question)
  values (#{questionnum}, #{questiontitle}, #{question})  
  </insert>
  
  <select id="read" resultType="com.forreport.domain.QuestionVO">
  select * from tbl_question where questionnum = #{questionnum}
  </select>
  
  </mapper>